[submodule "lib/mongoose"]
	path = lib/mongoose
	url = https://github.com/cesanta/mongoose
[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "lib/json-maker"]
	path = lib/json-maker
	url = https://github.com/rafagafe/json-maker
